.container {
  background: white;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  margin-top: 1.5rem;
  width: 65%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.title {
  font-size: 1.125rem;
  font-weight: 600;
  color: #111827;
}

.filter {
  font-size: 0.875rem;
  color: #9ca3af;
}
