.card {
  max-width: 400px;
  padding: 2rem;
  background:rgb(235, 235, 235);
  border-radius: 20px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.heading {
  font-size:17px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.subtext {
  font-size: 0.9rem;
  color: #888;
  margin-bottom: 1.5rem;
}

.chartWrapper {
  width: 80%;
  margin: 0 auto 2rem auto;
}

.labels {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  margin-top: 1rem;
}

.labelItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.95rem;
}

.colorDot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
}
